<div class="container-fluid px-4">
  <div class="card mt-4 mb-4">
    <div class="card-header">
      <h1 class="mb-3">Dashboard</h1>
    </div>
    <div class="card-body bg-warning bg-opacity-75">
      {% include 'includes/cards.html' %}
      {% include 'includes/charts.html' %}
      {% include 'includes/tables.html' %}
    </div>
  </div>
</div>

{# <script src="{{ url_for('dash.static', filename='PieChart.js') }}"></script>
<script src="{{ url_for('dash.static', filename='BarChart.js') }}"></script> #}