<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand ps-3" href="{{ url_for("dash.dashboard") }}" id="sidebarToggle">
    <img class="fs-4 d-inline-block align-text-top" src="{{ url_for('static', filename = 'assets/img/favicon.png') }}"
      alt="Logo" width="30" height="30">
    Cob. Admin
    <i class="fas fa-bars"></i>
  </a>
  <!-- Navbar Search-->
  <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>
  <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Busque Por..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form> -->
  <!-- Navbar-->
</nav>