<div class="modal fade" id="ModalMessageDelete" tabindex="-1" role="dialog" aria-labelledby="ModalMessageDeletelabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mensagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ message }}
        <div class="modal-footer">
          <button type="button" class="btn btn-success me-2 btn-icon-split" data-bs-dismiss="modal"
            onclick="reloadPage()">
            Recarregar
            Página
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#ModalMessageDelete').modal('show');
  function reloadPage() {
    window.location.reload();
  }
</script>