{% if url %}
<script src="{{ url_for('static', filename='js/ScriptCautelasSuccess.js') }}"></script>
<div class="modal fade" id="modal-pdf" tabindex="-1" aria-labelledby="EmissãoCautelaLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="m-0 font-weight-bold text-primary">Cautela</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe id="pdfFrame" src="{{ url }}" frameborder="0" class="w-100 pdf-frame" content_type></iframe>
      </div>
    </div>
  </div>
</div>
{% else %}
<script src="{{ url_for('static', filename='js/ScriptCautelasError.js') }}"></script>
{% include 'includes/message.html' %}
<script src="{{ url_for('static', filename = 'js/ScriptCautelasError.js') }}"></script>
{% endif %}