<div class="container px-4">
  <form method="post" name="CadastroProcesso" class="card mt-4 mb-4">
    <div class="card-header mb-3">
      <h1 class="m-3">{{ title }} - {{ func }}</h1>
    </div>
    <div class="card-body row g-6 p-3 align-items-center">
      <div class="container">
        {% if error_messages %}
        {% for message, mensagem in error_messages %}
        <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
          <strong>Erro: </strong>{{ message }} - {{ mensagem }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

      </div>
      {{ form.hidden_tag() }}
      <div class="col-md-12">
        <div class="mb-3 p-2 border border-3 border-secondary border-opacity-75 rounded">
          <div class="form-floating mb-3">
            {{ form.numproc(class="form-control", placeholder="...") }}
            {{ form.numproc.label(for=form.numproc.id) }}
          </div>
          <div class="form-check mb-3">
            {{ form.automake(class="form-check-input", id="flexCheckDefault") }}
            {{ form.automake.label(for=form.automake.id, class="form-check-label") }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3 p-2 border border-3 border-secondary border-opacity-75 rounded">
          {{ form.cliente.label(for=form.numproc.id, class="form-label") }}
          {{ form.cliente(class="form-select") }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3 p-2 border border-3 border-secondary border-opacity-75 rounded">
          {{ form.parte_contraria.label(for=form.parte_contraria.id, class="form-label") }}
          {{ form.parte_contraria(class="form-select") }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3 p-2 border border-3 border-secondary border-opacity-75 rounded">
          <div class="form-floating mb-3">
            {{ form.valor_debito(class="form-control", placeholder="...") }}
            {{ form.valor_debito.label(for=form.valor_debito.id) }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3 p-2 border border-3 border-secondary border-opacity-75 rounded">
          <div class="form-floating mb-3">
            {{ form.data_cadastro(class="form-control", placeholder="...") }}
            {{ form.data_cadastro.label(for=form.data_cadastro.id) }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3 p-2 border border-3 border-secondary border-opacity-75 rounded">
          <div class="form-floating mb-3">
            {{ form.description(class="form-control", placeholder="...") }}
            {{ form.description.label(for=form.description.id) }}
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
    </div>
  </form>
</div>