<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Projeto Adm.Procs</title>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Select2 Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css"
      integrity="sha512-YHJ091iDoDM1PZZA9QLuBvpo0VXBBiGHsvdezDoc3p56S3SOMPRjX+zlCbfkOV5k3BmH5O9FqrkKxBRhkdtOkQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Select2 Script -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- DataTables Style -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs5/2.1.8/dataTables.bootstrap5.min.css"
      integrity="sha512-9d9bjYZUo25k3MPAMpx+OUyvGQcbJe8qGOUJilgowXEPc0lNCVoe+zHZX8HszzkDJEUynZeF648jP9JLX1Pi7A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- DataTables Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net/2.1.2/dataTables.min.js"
      integrity="sha512-kjHe1PFYX0QKzVen607BorvkPwPD1NDKZzTCRRBoXEoPFoSw2ouuXx3srJGCqSyIp/7kCmh9YCXYpbw8iXwBaQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs5/2.1.2/dataTables.bootstrap5.min.js"
      integrity="sha512-Cwi0jz7fz7mrX990DlJ1+rmiH/D9/rjfOoEex8C9qrPRDDqwMPdWV7pJFKzhM10gAAPlufZcWhfMuPN699Ej0w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Font-Awesome Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"
      integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap Includes -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />


  </head>

  <body class="sb-nav-fixed">
    {% include 'include/navbar.html' %}
    <div id="layoutSidenav">
      {% include 'include/sidebar.html' %}
      <div class="bg-purple bg-opacity-50" id="layoutSidenav_content">
        <main>
          {% if page %}
          {% include page %}
          {% endif %}
        </main>
        {% include 'include/footer.html' %}
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% include 'message.html' %}
    {% endif %}
    {% endwith %}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    {% if request.endpoint == "dash.dashboard" %}
    <script src="{{ url_for('static', filename='assets/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/demo/chart-bar-demo.js') }}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/DataTables.js') }}"></script>
  </body>

</html>